.title-filters {
  display: flex;
  flex-direction: row;
  gap: 67px
}

.reset-all {
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  line-height: 20px;
  border: none;
  background-color: #fff;
  color: #5E96FC;
  border: none;
  
}

.reset-all:disabled {
  color: #ACADB9;
  background-color: #fff;
  cursor: not-allowed;
}

.reset-all:hover {
  color: #92C1FF;
}

.filters {
  display: flex;
  flex-direction: column;
  width: 315px;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #EAEBED;
  padding: 20px;
}

.selected {
  background-color: #5E96FC;
  color: #eee;
  border-radius: 3px;
}

select {
  width: 100%;
}

.mantine-1joosma {
  padding-left: calc(1.25rem / 3);
}

.mantine-x0i9fi {
  border: none;
}

.mantine-1g3thxc {
  border: none;
}

.mantine-NumberInput-input {
  min-height: 2.625rem;
}

.mantine-g7194 {
  width: 100%;
  color: #fff;
  background-color: #3B7CD3;
}

.mantine-g7194:disabled {
  color: #fff;
  background-color: #5E96FC;
  cursor: not-allowed;
}

.mantine-g7194:hover {
  background-color: #92C1FF;
}

h3 {
  font-size: 1.25rem;
}

.sign {
  padding-left: 10px;
}

.mantine-b11773 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #232134;
}

.wrapper-industry {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding-top: 28px;
}

.wrapper-salary {
  padding: 20px 0 20px 0;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 8px;
} 

.mantine-7c7vou {
  margin-bottom: 0;
} 

.mantine-1wpc1xj {
  border-radius: 8px;
}

.mantine-Select-dropdown	 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.mantine-1esv455:hover {
  background-color: #DEECFF;
}

.mantine-1n8gmw6[data-active] {
  background-color: #5E96FC;
}

.mantine-1nbt8iw {
  border-radius: 8px;
}

.mantine-1dfdtl1 {
  border-radius: 0.5rem;
}

/*Adaptive*/

@media(min-width: 768px) and (max-width: 1180px) {
  .filters {
    max-width: 15rem;
  }

  .title-filters {
    gap: 10px;
  }
}

@media(min-width: 480px) and (max-width: 767px) {
  .wrapper-filters {
    max-width: 315px;
  }
  .filters {
    flex-direction: column;
  }
}

@media(min-width: 320px) and (max-width: 479px) {
  .wrapper-filters {
    max-width: 315px;;
  }
  .filters {
    display: flex;
    flex-direction: column;
  }
}

