.mantine-Text-root {
  font-family: 'Inter';
}

.mantine-c2s5ks {
  display: flex;
  flex-direction: row;
  gap: 12.5px;
  border-radius: 0.75rem;
  border: 1px solid #EAEBED;
  justify-content:space-between;
  padding: 1.35rem;
}

.mantine-6y50lo {
  max-width: 32rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wrapper-vacancy {
  display: flex;
  flex-direction: column;
  gap: 8.5px;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.icon {
  background: url(../../assets/png/location.png) no-repeat;
  width: 20px;
  height: 20px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.divider {
  display: flex;
  align-items: center;
  color: #7B7C88;
}

.favoriteDefault {
  width: 24px;
  height: 24px;
  background: url(../../assets/png/starDefault.png) no-repeat;
  background-size: cover;
  border: none;
}

.favoriteDefault:hover {
  cursor: pointer;
  background: url(../../assets/png/starHover.png) no-repeat;
}

.favoriteActive {
  background: url(../../assets/png/starFavorite.png) no-repeat;
  width: 24px;
  height: 24px;
  background-size: cover;
  border: none;
}

.favoriteActive:hover {
  cursor: pointer;
}