.details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 48.313rem;
}

.details-all {
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
}

/* .vacancy-details {
  padding: 24px;
  background-color: #fff;
  border-radius: 12px;
} */

/* .vacancy-details p {
  font-weight: 700;
  padding-top: 10px;
} */

li {
  font-family: 'Inter', sans-serif;
  list-style: disc;
  font-weight: 400;
  cursor: auto;
}
/* ul {
  padding-left: 15px;
}


br {
  height: 0px;
} */
