.details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 48.313rem;
}

.details-all {
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 51px;;
}

li {
  font-family: 'Inter', sans-serif;
  list-style: disc;
  font-weight: 400;
  cursor: auto;
}

@media(min-width: 768px) and (max-width: 1180px) {
  .details-wrapper {
    width: 40rem;
  }
}

@media(min-width: 480px) and (max-width: 767px) {
  .details-wrapper {
    width: 28rem;
  }

  .mantine-ne5ogy {
    font-size: 1.3rem;
  }

  .mantine-c2s5ks {
    padding: 0.5rem;
  }
}

@media(min-width: 320px) and (max-width: 479px) {
  .details-wrapper {
    width: 20rem;
  }
  .mantine-ne5ogy {
    font-size: 1rem;
  }
}