.error {
  padding: 20px 0 0 0;
  margin: 0 auto;
  color: #5E96FC;
  align-items: centers;
}

.error-image {
  margin: 0 auto;
  width: 206px;
  height: 206px;
  background: url(../../assets/svg/error.svg) no-repeat;
}