.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  padding: 27px 0 27px 0;
}

h1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.5rem;
}

.title-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.logo {
  background: url(../../assets/png/logo.png);
  width: 30px;
  height: 30px;
}