.header {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #fff;
  padding: 24px 0 24px 0;
}

.container {
  width: 1116px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  gap: 280px;
}

h1 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1.5rem;
}

.title-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.logo {
  background: url(../../assets/png/logo.png);
  width: 30px;
  height: 30px;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
}

/*Adaptive*/

@media(min-width: 768px) and (max-width: 1180px) {
  .container {
    max-width: 1180px;
    justify-content: center;
  }
}

@media(min-width: 480px) and (max-width: 767px) {
  .container {
    width: 100%;
    gap: 50px;
    justify-content: center;
  }
}

@media(min-width: 320px) and (max-width: 479px) {
  .container {
    width: 100%;
    gap: 15px;
    justify-content: center;
  }

  h1 {
    font-size: 1rem;
  }

  .links {
    gap: 1rem;
    font-size: 0.8rem;
  }

  .header {
    padding: 12px 0 12px 0;
  }
}

