.vacancies {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filters {
  width: 315px;
  height: 360px;
}

.search-content {
  width: 48.313rem;
  gap: 1rem;
}

li {
  cursor: pointer;
  list-style: none;
}

a {
  text-decoration: none;
  color: #5E96FC;
}

.selected {
  background-color: #5E96FC;
  color: #eee;
  border-radius: 3px;
}

select {
  width: 100%;
}

.mantine-Pagination-dots {
  align-items: end;
}

.mantine-Group-root {
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}