.mantine-7c7vou {
  max-width: 48.313rem;
  margin-bottom: 1rem;
}

.mantine-1nmvwx4 {
  width: 5.188rem;
}

.mantine-asjeru {
  max-width: 5.188rem;
  font-size: 0.875rem;
}

.mantine-13v5ff3 {
  padding-top: 2.5rem;
}
